body {
    background-color: #ececec;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

#storyImgCoverPreview {
    width: 300px;
    height: 225px;
    object-fit: contain;
    background-color: #ececec;
}
